@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

.zen-antique-font {
  font-family: 'Zen Antique', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BCMikserSemiBold';
  src: url('font/fonnts.com-BC_Mikser_Regular.otf') format('opentype'); /* Adjust the path as necessary */
  font-weight: normal;
  font-style: normal;
}

.bg-darker {
    filter: brightness(60%) contrast(120%);
}